body,
button,
input,
textarea {
  font-family: 'Pretendard', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 812px;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
}

.status-bar {
  width: 375px;
  height: 44px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-window {
  width: 375px;
  flex: 1;
  padding: 10px;
  background-color: #fcf7e7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid #ddd;
}
