.message-container {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.message-time {
  color: #666;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
}

.message {
  color: #222222;
  max-width: 80%;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
}

.message-time-user {
  align-self: flex-end;
  margin-right: 19px;
  margin-bottom: 10px;
}

.message-user {
  border-radius: 20px 2px 20px 20px;
  background: #ffd736;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.06);
  align-self: flex-end;
  margin-right: 16px;
}

.message-bot {
  border-radius: 2px 20px 20px 20px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.06);
  align-self: flex-start;
  margin-left: 16px;
}

.message-time-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.message-bot-logo {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  margin-left: 16px;
}

.message-time-text {
  display: flex;
  align-items: center;
}

.message-text-label {
  color: #6f562d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-right: 6px;
}

.message-time {
  color: #666;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
}
