.message-container {
  display: flex;
  flex-direction: column;
  margin: 10px 16px; /* 메시지 박스 양쪽 여백을 설정합니다 */
}

.message {
  color: #222222;
  padding: 12px 16px;
  border-radius: 5px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.message-time-user {
  align-self: flex-end;
  margin-right: 0; /* 오른쪽 여백을 제거하여 텍스트와 시간 간격을 균등하게 유지합니다 */
  margin-bottom: 10px;
}

.message-user {
  border-radius: 20px 2px 20px 20px;
  background: #ffd736;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.06);
  align-self: flex-end;
  margin-right: 0;
  padding: 12px 16px;
}

.message-bot {
  border-radius: 2px 20px 20px 20px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.06);
  align-self: flex-start;
  margin-left: 0;
  padding: 12px 16px;
}

.message-time-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.message-bot-logo {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.message-time-text {
  display: flex;
  align-items: center;
}

.message-text-label {
  color: #6f562d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-right: 6px;
}

.message-time {
  color: #666;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
}
